.footer {
   display: flex;
   width: 100%;
   height: 330px;
   background-color: #524f51; /*как сделать вкрапления? только вставлять картинкой?*/

   &__box {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-top: 40px;
   }

   &__col {
      display: flex;
      width: 21%;
      flex-direction: column;

      > p {
         font-family: "PTSans", sans-serif;
         font-size: 14px;
         line-height: 20px;
         font-weight: 400;
         color: #c1c1c1;
         text-align: justify;

         > span {
            font-size: 20px;
            color: #f5f5f5;
         }
      }
   }

   &__title {
      font-family: "OpenSans", sans-serif;
      font-size: 22px;
      font-weight: 400;
      color: #ffffff;
      margin-bottom: 15px;
   }

   &__post {
      display: flex;
      flex-direction: column;

      > p {
         font-family: "PTSans", sans-serif;
         font-size: 14px;
         line-height: 18px;
         font-weight: 400;
         color: #c0c0c0;
      }

      &:last-child {
         padding-top: 20px;
         border-top: solid 1px #5c5c5c;
      }
   }

   &__data {
      display: flex;
      margin: 10px 0 20px 0;

      > p {
         font-family: "PTSans", sans-serif;
         font-size: 14px;
         font-weight: 400;
         color: #898989;
         margin-left: 5px;
      }
   }

   &__contact {
      display: flex;
      height: 30px;
      align-items: center;

      > p {
         font-family: "PTSans", sans-serif;
         font-size: 14px;
         font-weight: 400;
         color: #c1c1c1;
         margin-left: 15px;
      }
   }

   &--bottom {
      height: 90px;
      background-color: #252522;
   }

   &__link {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;

      > p {
         font-family: "PTSans", sans-serif;
         font-size: 14px;
         font-weight: 400;
         color: #c1c1c1;
      }
   }
}
