.header {
   display: flex;
   width: 100%;
   height: 80px;

   /*верхняя часть шапки-----------------------------------------------------------------------------------------*/
   &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &--up {
      height: 59px;
      background-color: #252323;
   }

   &__logo {
      display: flex;
      width: 25%;
      margin-left: 14px;
   }

   &__socials {
      display: flex;
      width: 25%;
      justify-content: flex-end;
      align-items: center;
   }

   &__link {
      display: flex;
      margin: 0 8px 0 14px;
   }

   /*нижняя часть шапки-----------------------------------------------------------------------------------------*/

   &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
   }

   &__menu {
      display: flex;
      width: 50%;
      height: 100%;
      justify-content: space-between;
      margin-left: 14px;
   }

   &__item {
      display: flex;
      height: 100%;
      align-items: center;
      font-family: "OpenSans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      color: #8b8b8b;

      &:hover {
         color: #00bac6;
         border-bottom: solid 2px #00bac6;
      }
   }

   &--active {
      color: #00bac6;
      border-bottom: solid 2px #00bac6;
   }

   &__form {
      display: flex;
      width: 190px;
      height: 35px;
      border: 1px solid #d6d6d6;
      align-items: center;
      position: relative;

      &:focus {                           /*не работает*/
         box-shadow: 0 0 1 #252323;
      }
   }

   &__search {
      display: flex;
      padding-left: 20px;
      width: 100%;
      height: 100%;
      font-family: "OpenSans", sans-serif;
      font-size: 13px;
      line-height: 20px;
      font-weight: 400;
      color: #a6a6a6;
   }

   &__icon {
      display: flex;
      position: absolute;
      left: 85%;
   }
}
