.slider {
   display: flex;
   width: 100%;
   max-width: 1366px;
   height: 100%;
   max-height: 454px;
   margin: 0 auto;
   flex-direction: column;
   position: relative;

   >img {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__bar {
      display: flex;
      width: 100%;
      height: 80%;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 2;
   }

   &__arrow {
      display: flex;
      width: 35px;
      height: 35px;
      border-left: solid 2px #ffffff;
      border-bottom: solid 2px #ffffff;
      transform: rotate(45deg);
      margin: 20px;

      &:hover {
         border-left: solid 2px #66d6dd;
         border-bottom: solid 2px #66d6dd;
      }

      &--wright {
         display: flex;
         width: 35px;
         height: 35px;
         border-left: solid 2px #ffffff;
         border-bottom: solid 2px #ffffff;
         transform: rotate(225deg);
         margin: 20px;

         &:hover {
            border-left: solid 2px #66d6dd;
            border-bottom: solid 2px #66d6dd;
         }
      }
   }

   &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 67%;
   }

   &__title {
      font-family: "OpenSans", sans-serif;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
   }

   &__subtitle {
      font-family: "PTSans", sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      color: #ffffff;
      text-align: center;
      margin-top: 18px;
   }

   &__dots {
      /*не реагирует на ширину блока (пришлось в поинты добавлять маргины)*/
      display: flex;
      height: 20%;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 2;
   }

   &__point {
      width: 16px;
      height: 16px;
      margin: 0 5px 0 5px;
      border: solid 3px #ffff;
      border-radius: 50%;
   }

   &--active {
      background: #00bac6;
   }
}
