@import "_null";
@import "_fonts";
@import "_header";
@import "_slider";
@import "_preview";
@import "_cards";
@import "_icons";
@import "_footer";

.container {
   display: flex;
   width: 100%;
   max-width: 1000px;
   margin: 0 auto;
   padding: 0 10px;
}